html{
    line-height: 1.15;
}

body{
    margin:0;
    display:block;
    background-color: #1a1a1a
}

.text{
    width: 600px;;
    padding: 20px;
    padding-top: 0;
    font-family: calibri;
    /*color: #444;*/
    color:antiquewhite;
    margin: 20px auto;
    max-height: 270px;
}

main{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: auto 20% auto;
    min-width: fit-content;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>p,.grid-container>button{
    grid-column: 2/span 1;
    color:grey;
    border-top: 1px solid azure;
    justify-self: right;
    padding-top: 20px;
    font-size: 20px;
    width: 500px;
}

ul>li{
    grid-column: 2/2;
    font-size: 32px;
    font-weight: bold;
    background-color: aqua;
}

.btn{
    cursor:pointer;
    display:inline-block;
    color:grey;
    background-color:antiquewhite;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    margin:0;
    padding:10px 20px;
    border:1px solid transparent;
    border-radius: 5px;
    outline:none;
    text-align:center;
}

.btn:hover{
    background-color: azure;
}

#startBtn{
    display: block;
    margin:auto;
}

h1{
    font-size: 50px;
    min-width: fit-content;
    text-align: center;
}

h2{
    font-size: 36px;
}

h2>*{
    font-size: 16px;
}

#btn-HighScores{
    text-align: left;
}

#timer{
    text-align: right;
}

#subtext{
    opacity: 0;
}

#endScreen>form{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form>p{
    padding: 10px;
    color:antiquewhite;
}
#form>input{
    padding: 5px;
    margin-right: 20px;
}

#initials{
    height: 10px;
}
